doctype html
html(lang="en")
		include ./partials/_head.jade
		
		body#page-top
			include ./partials/_nav.jade
			block content


			script(src='/static/js/jquery/jquery.js')
			// Bootstrap Core JavaScript
			script(src='/static/js/jquery/bootstrap.min.js')
			// Plugins JavaScript
			script(src='/static/js/jquery/jquery.easing.min.js')
			script(src='/static/js/jquery/jquery.fittext.js')
			script(src='/static/js/jquery/jquery.wow.min.js')
			// Custom Theme JavaScript
			script(src='/static/js/jquery/creative.js')